/*总体部分*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/*header部分*/
header{
    position: fixed;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 70px;
}
header a {
    text-decoration:none;
    display:block;
    color: #ffffff;
}

.logo{
    float:left;
    padding-left: 100px;
    padding-top: 18px;
}

.account{
    color: #00BBFF;
}

.menu{
    float: left;
    text-align: center;
    padding-top: 12px;
}
.menu ul li{
    float: left;
    margin-right: 20px;
    list-style-type: none;
}
.menu ul li a:hover{
    color: #00BBFF;
}

.account{
    float: right;
    margin: auto 3em;
    padding-right: 100px;
    padding-top: 12px;
}
.account ul li{
    float: right;
    list-style-type: none;
}
.account ul li a:hover{
    color: #00BBFF;
}
.account ul li ul{
    display:none;
    position: absolute;
    padding:0;
}
.account ul li ul li{
    float:none;
    list-style-type: none;
    padding-top: 7px;
}
.account ul li ul li a{
    display:block;
    color: #AAAAAA;
}
.account ul li ul li img{
    padding-right: 4px;
}
.account ul li ul li a:hover{
    color: #DDDDDD;
}
.account ul li:hover ul{
    display:block;
}
.account .my-account{
    color: #00BBFF;
}
.account .my-favour{
    color: #DDDDDD;
}

/*favour-container部分*/
.favour-container{
    margin: 0;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 100%;
    height: 1200px;
    background-color:  #F8F8F8;
}
/*favourite-category部分*/
.favourite-category{
    float:left;
    margin: 50px 0 0 40px;
    padding:12px;
    width:200px;
    background-color:  #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 1%;
}
.favourite-category a{
    text-decoration:none;
    display:block;
}
.favourite-category ul{
    margin: 0 0 0 10px;
    padding: 0;
}
.favourite-category ul li{
    margin-right: 20px;
    list-style-type: none;
}
.favourite-category-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}
.favourite-category-content{
    color: #AAAAAA;
    font-size: 18px;
    padding-bottom: 3px;
}
.favourite-category-content:hover{
    color: #00BBFF;
}
/*storey-box部分*/
.storey-box{
    float: right;
    margin: 50px 40px 0 0;
    background-color:  #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 1%;
}
.storey-box .item{
    width: 975px;
    height: 225px;
    margin: 15px 30px 20px 30px;
    border: 2px solid #000000;
}

.storey-box .item img{
    width: 25%;
    height: 80%;
    margin: 20px;
    float: left;
    border: 2px solid #DDDDDD;
    border-radius: 1%;
}
.storey-box .item .name{
    margin-top: 30px;
    margin-bottom: 10px;
}
.storey-box .item .name a{
     text-decoration:none;
     color: #000000;
     font-size: 25px;
 }

.storey-box .item .description{
    color: #707070;
    margin-right: 20px;
    height:70px;
    line-height: 18px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4;
}
.storey-box .item .button{
    margin-top: 25px;
}
.storey-box .item .button a{
    text-decoration:none;
    padding: 2px 4px;
    color: #ffffff;
    background-color: #AAAAAA;
    font-size: 20px;
}
.storey-box .item .button a:hover{
    background-color: #000000;
}
.storey-box .page{
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}
.storey-box .page a{
    text-decoration:none;
    color: #000000;
}
.storey-box .page a:hover{
    color: #00BBFF;
}


/*footer部分*/
footer{
    bottom:0;
    width:100%;
    height:40px;
    background-color: #000000;
    text-align: center;
}
footer .copyright{
    color: #ffffff;
    font-size: 15px;
    padding:10px 0;
}